.navbar {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 7px;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

h1 {
    font-size: 18px;
}

.card-header1 {
    background-color: teal;
    margin-bottom: 0px;
    color: teal;
}

.card-body1 {
    background-color: gray;
    color: gray;
}

.name {
    background-color: teal;
    text-align: center;
    padding: 14px 0px 14px 0px;
    color: white;
    position: relative;
    top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.hrr {
    position: relative;
    top: -16px;
}

.button {
    background-color: teal;
    color: white;
}
